.About_Page{
    height: 120vh;
    width: 100%;
    padding-top: 10vh;
    padding-bottom: 100vh;
    align-items: center;
  }
  .Hello{
    font-size:100px;
    width: 90%;
    padding-top: 8%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    transition: 2s ease;
  }
  .introducing{
    text-align: left;
    justify-content: right;
    font-size: 30px;
    width: 90%;
    padding-top: 7%;
    padding-left: 10%;
    margin:0%;
    transition: 2s ease;
  }
  .aboutMe{
    width: 100%;
    text-align: right;
    justify-content: left;
    padding-top: 10%;
    padding-left: 20%;
    padding-right: 10%;
    font-size: 20px;   
    transition: 2s ease; 
  }
  .App-header {
    min-height: 0vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  