.menuContainer{
    position: fixed;
    height: 100%;
    width: 100%;
    text-decoration: none;
  }
  
  #fp-nav.fp-right {
    align-items: center;
    text-align: center;
    height: 50px;;
    width: 50%;
    left: 25%;
    position: fixed;
    top: 0%;
    padding-bottom: 0%;
    overflow-x: hidden;
    transform:rotate(0deg);
    background-color: rgb(233, 229, 229);
    border-radius: 0px 0px 20px 20px; 
 
    scroll-behavior: smooth;
    /*background-color: rgb(233, 229, 229);*/
  }
  
  .fp-sr-only{
    height: 100%;
    padding: 10px;
    text-align: center;
    position:sticky;
    font-size: 18px;
    top:5px;
    color: rgb(58, 57, 57);

  }
  .links{
    text-decoration: none;
    padding-right: 0%;
    padding:2%;
    height: 40px;   
  }
  
  div {
    display: block;
  }

  /*hovering*/

  .fp-sr-only:hover{
    color: rgb(233, 229, 229); 
    /*background-color: rgba(170, 170, 170, 0.4);/* rgba(134, 133, 133, 0.4)*/
    background-color: rgba(134, 133, 133, 0.4);
    cursor: pointer;
    border-radius: 5px 5px 10px 10px;
  }

  /*media*/

  @media (max-width: 800px){
  
    #fp-nav.fp-right{
      left: 15%;
      width: 70%;
    }
    .fp-sr-only{
      font-size: 14px;
    }
  }